unidecode
# Torch and Torchvision with cuda
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
# Transformer Huggingface (DETR, RTDETRv2, SegFormer, Mask2Former)
transformers
protobuf==4.25.3
faster-coco-eval 
# Ultralytics (YOLO)
numpy==1.24.2
ultralytics
# Convert mask to polygon
imantics 
# Apply Perspective Transform
quadrilateral-fitter
# gdown
gdown
# Preprocessing data
albumentations
# Tracking
supervision
# OpenOCR
paddlex
imgaug
# calculate paramter, flops
fvcore
