unidecode
# Core numerical
numpy>=1.26,<2.0
# Torch
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
pytorch-lightning
# Huggingface
transformers
protobuf==4.25.3
faster-coco-eval
# Vision
opencv-python==4.8.1.78
pillow==10.2.0
scikit-image
# YOLO
ultralytics
# Geometry
imantics
quadrilateral-fitter
pyclipper
# Download
gdown
# Augmentation
albumentations
imgaug==0.4.0
# Tracking
supervision
# OCR
paddlex
# FLOPs
fvcore